* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, sans-serif;
}

html, body {
    height: 100%;
    width: 100%;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: url('../images/bgLogin1.png') no-repeat center center fixed;
    /* background-size: cover; Memastikan gambar memenuhi layar tanpa distorsi */
    margin: 0;
}

.login-container {
    background: white;
    width: 439px;
    height: 530px;
    padding: 45px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.login-container img {
    width: 177px;
    height: 145px;
    margin-bottom: 15px;
}

.form-group {
    margin-bottom: 15px;
    text-align: left;
}

.form-group label {
    display: block;
    font-size: 14px;
    margin-bottom: 5px;
    color: #555;
}

.form-group input {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 14px;
}

.login-container button {
    width: 100%;
    padding: 10px;
    font-size: 16px;
    background: #0d82e8;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
}

.login-container button:hover {
    background: #87ceeb;
}

.login-container .options {
    display: flex;
    justify-content: space-between;
    font-size: 14px;
    margin-top: 15px;
    color: #555;
}

.login-container .options a {
    color: #007bff;
    text-decoration: none;
}

.login-container .options a:hover {
    text-decoration: underline;
}

.form-group .password-toggle {
    position: relative;
}

.form-group .password-toggle input {
    padding-right: 50px;
}

.password-toggle span {
    position: absolute;
    right: 10px;
    top: 50%;
    transform: translateY(-50%);
    cursor: pointer;
    color: #888;
    font-size: 14px;
    display: none;
}
